@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Sora", sans-serif;
    --color-primary: #1565C0;
    --color-banjar-orange: #FFAB1F;
    --color-banjar-dark: #004481;
}
